# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=your-project-url-here
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key-here
NEXT_PUBLIC_SUPABASE_BUCKET=your-bucket-name

# MediaPipe Configuration
NEXT_PUBLIC_MEDIAPIPE_CDN=https://cdn.jsdelivr.net/npm/@mediapipe/tasks-vision@0.10.3/vision_bundle.mjs
NEXT_PUBLIC_MEDIAPIPE_WASM=https://cdn.jsdelivr.net/npm/@mediapipe/tasks-vision@0.10.3/wasm
